table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, td, th {
    border: 1px solid black;
}
td, th{
    padding: 10px;
    text-align: center;
}
tfoot tr:first-child td:first-child {
    text-align: right;
}